.App {
  text-align: center;
}

.value {
  height: 60px;
  background-color: rgb(43, 40, 216);
  width: 100%;
}

.value-font {
  font-size: 58px;
}

.body {
  max-width: 300px;
  margin: auto;
}

.keys {
  display:block;

}

.keys Button {
width: 25%;
height: 70px;
}